
<!--/* Fragment 코드 */-->
<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="admin_layout(content)"
     class="admin-wrapper">

	 <!-- merge 확인용 -->
	 
  <!-- 상단 -->
  <header class="admin-topbar">
    <div class="topbar-left">
      <i class="fa-solid fa-shield-halved"></i>
      <span class="logo">JobKorea</span>
      <span class="sub">관리자 콘솔</span>
      
      <!--/*메인페이지 이동[임시]*/-->
      <a th:href="@{/index}">메인페이지[임시]</a>
    </div>

    <div class="topbar-right">
      <i class="fa-regular fa-bell"></i>
      <div class="profile">
        <div class="avatar">A</div>
        <div>
          <div class="admin-name" th:text="${adminName} ?: '관리자'">관리자</div>
          <div class="email" th:text="${adminEmail} ?: 'admin@jobkorea.com'">admin@jobkorea.com</div>
        </div>
      </div>
    </div>
  </header>

  <div class="admin-body">

    <!-- 사이드바 -->
    <aside class="admin-sidebar">
      <ul>
        <li th:classappend="${activeMenu}=='dashboard' ? ' active' : ''">
          <a th:href="@{/admin/dashboard(menu='dashboard')}"><i class="fa-solid fa-table-cells"></i><span>대시보드 개요</span></a>
        </li>
        <li th:classappend="${activeMenu}=='members' ? ' active' : ''">
          <a th:href="@{/admin/members(menu='members')}"><i class="fa-solid fa-users"></i><span>회원 관리</span></a>
        </li>
        <li th:classappend="${activeMenu}=='companies' ? ' active' : ''">
          <a th:href="@{/admin/companies(menu='companies')}"><i class="fa-regular fa-building"></i><span>기업 관리</span></a>
        </li>
        <li th:classappend="${activeMenu}=='jobs' ? ' active' : ''">
          <a th:href="@{/admin/job-posts(menu='jobs')}"><i class="fa-regular fa-file-lines"></i><span>채용공고 관리</span></a>
        </li>
		<li th:classappend="${activeMenu}=='posts' ? ' active' : ''">
		  <a th:href="@{/admin/posts(menu='posts')}"><i class="fa-regular fa-newspaper"></i><span>게시글/댓글 관리</span></a>
		</li>
        <li th:classappend="${activeMenu}=='banners' ? ' active' : ''">
          <a th:href="@{/admin/banners(menu='banners')}"><i class="fa-solid fa-rectangle-ad"></i><span>배너 관리</span></a>
        </li>
        <li th:classappend="${activeMenu}=='stats' ? ' active' : ''">
          <a th:href="@{/admin/stats(menu='stats')}"><i class="fa-solid fa-chart-line"></i><span>통계</span></a>
        </li>
        <li th:classappend="${activeMenu}=='Statistics' ? ' active' : ''">
          <a th:href="@{/admin/Statistics(menu='Statistics')}"><i class="fa-solid fa-file-waveform"></i><span>리포트</span></a>
        </li>
        <li th:classappend="${activeMenu}=='notices' ? ' active' : ''">
          <a th:href="@{/admin/notices(menu='notices')}"><i class="fa-regular fa-bell"></i><span>공지사항 관리</span></a>
        </li>
        <li th:classappend="${activeMenu}=='reports' ? ' active' : ''">
          <a th:href="@{/admin/reports(menu='reports')}"><i class="fa-regular fa-bell"></i><span>신고 관리</span></a>
        </li>
      </ul>
    </aside>


    <!-- 콘텐츠 -->
    <div class="admin-content" th:replace="${content}"></div>

  </div>
</div>
